.main-content{
    display: flex;
}

.main-content .content-left{
    flex-direction: column;
    margin-left: 40px;
}

.main-content .content-right{
    margin-left: 100px;
}

.main-content .content-left .content-left-2{
    margin-top: 60px;
}

.main-content .content-right .content-right-1{
    margin-top: 50px;
}

.main-content .content-right .content-right-2{
    margin-top: 50px;  
}

.main-content .content-right .content-right-2 .top{
    display: flex;
}

.main-content .content-right .content-right-2 .under{
    margin-top: 40px;
    display: flex;
}
